eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8282/realms/fitness-app/protocol/openid-connect/certs
server:
  port: 8080